@import 'core/settings';
body {
	margin: 0;
	height: 100vh;
}
.page{
  color: rgb(128, 18, 91);
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: Arial, Helvetica, sans-serif;
}
.header__page{
  text-align: center;
  grid-row: auto;
  //background-color: antiquewhite;
}
.main{
  //background-color: red;
  display: grid;
  grid-template-columns: auto 1fr;
}
.containerLookfor{
  grid-column: auto;
  padding: 10px;
  //background-color: blue;
}
.btn{
  background-color: rgb(128, 18, 91);
  color: pink;
}
.inputText{
  border-style: none;
  border-bottom: pink solid 2px;
  color:gray;
}
.form{
  display: flex;
}
.containerMain{
  //background-color: pink;
}
.listResults{
  list-style: none;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
}
.liResults{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color: pink;
  color: rgb(128, 18, 91);
  padding: 10px;
}
.liResultsTitle{
  text-align: center;
  display: inline-block;

}
.favorites{
  padding: 0px;
  color: gray;
}
.liFavoriteTitle{
  margin-right: 10px;
}
.liFavorites{
  display: flex;
  align-items: center;
}
.containerMain .favorite{
  background-color:rgb(128, 18, 91);
  color: pink;
  .liResultsTitle::before{
    content: "\f005";
    font-weight: 900;
  }
}
.btnFav{
  border-radius: 100%;
  background-color: black;
  width: 20px;
  height: 20px;
  border:none;

}
.btnFav::before{
  content: 'X'; // here is your X(cross) sign.
  color:white;
  background-color: black;
  font-weight: 500;

}

