<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Buscador de series</title>
  <link rel="icon" href="favicon.png" />
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body class="page">

  <header class="header__page">
    <h1 class="title">Buscador de series</h1>
  </header>


  <main class="main">


    <div class="containerLookfor">
      <input type="text" class="inputText">
      <button class="btn">Buscar</button>
      <ul class="favorites"></ul>
    </div>


    <div class="containerMain">
      <ul class="listResults">
      </ul>
    </div>


  </main>
  <script src="assets/js/main.js"></script>
</body>

</html>
